{% extends './_layouts/master.html' %}

{#
{% set title = '' %}
{% set bodyClass = '' %}
#}

{% block content %}

<div class="is-visible" data-hud-type="player-config" data-hud-node="class-select">
  <div data-hud-evt='{ "node":"class-select", "attrType":"class", "val":"mage", "target":"weapon-select" }'>
    mage
  </div>
</div>

<div class="is-invisible" data-hud-type="player-config" data-hud-node="weapon-select">
  <div data-hud-evt='{ "node":"weapon-select", "attrType":"weapon", "val":"mage", "target":"head-select" }'>
    staff
  </div>
</div>

<div class="flex  flex-row  flex-wrap">
  <div class="col-12  bg-blue">
a
  </div>
  <div class="col-12  bg-red">
a
  </div>
</div>

{% endblock %}
