{% extends './_layouts/master.html' %}

{#
{% set title = '' %}
{% set bodyClass = '' %}
#}

{% block content %}

<!-- Class -->
<div class="is-visible" data-hud-node="class">
  <div data-player-config-evt='{ "node":"class", "val":"class 1", "target":"curse1" }'>
    class 1
  </div>
  <div data-player-config-evt='{ "node":"class", "val":"class 2", "target":"curse1" }'>
    class 2
  </div>
</div>

<!-- Curse 1 -->
<div class="is-invisible" data-hud-node="curse1">
  <div data-player-config-evt='{ "node":"curse1", "val":"1", "target":"curse2" }'>
    1
  </div>
  <div data-player-config-evt='{ "node":"curse1", "val":"1", "target":"curse2" }'>
    1
  </div>
</div>

<!-- Curse 2 -->
<div class="is-invisible" data-hud-node="curse2">
  <div data-player-config-evt='{ "node":"curse2", "val":"2", "target":"curse3" }'>
    2
  </div>
  <div data-player-config-evt='{ "node":"curse2", "val":"2", "target":"curse3" }'>
    2
  </div>
</div>

<!-- Curse 3 -->
<div class="is-invisible" data-hud-node="curse3">
  <div data-player-config-evt='{ "node":"curse3", "val":"3", "target":"attr-ui" }'>
    3
  </div>
  <div data-player-config-evt='{ "node":"curse3", "val":"3", "target":"attr-ui" }'>
    3
  </div>
</div>

<!-- Curse 3 -->
<div class="is-invisible" data-hud-node="attr-ui">

</div>

{% endblock %}
